<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body, html{
            font-family: 'Poppins', sans-serif;
            background-color: #f4f4f2;
            height:100%;
            width:100%;
            margin:0;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Users registered on this site</h1>
        <%for(let i = 0; i < users.length; ++i){%>
            <p><%=users[i].name%></p>
        <%}%>
</body>
</html>